@model List<Appointment>

@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Appointments</h2>
</div>

<table class="table table-bordered table-hover mt-4 mb-5">
    <thead class="table-dark">
        <tr>
            <th scope="col">Appointment ID</th>
            <th scope="col">Patient</th>
            <th scope="col">Doctor</th>
            <th scope="col">Clinic</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Appointment Time</th>
            <th scope="col">Appointment Status</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.AppointmentID</td>
                <td>@item.Patient.FirstName @item.Patient.LastName</td>
                <td>Dr. @item.Doctor.FirstName @item.Doctor.LastName</td>
                <td>@item.Doctor.Clinic.Name</td>
                <td>@item.AppointmentDate.ToString("dd.MM.yyyy")</td>
                <td>@item.AppointmentTime.ToString(@"hh\:mm")</td>
                <td>
                    @if (item.Status == null)
                    {
                        <span class="badge text-bg-warning">Pending</span>
                    }
                    else if (item.Status == false)
                    {
                        <span class="badge text-bg-danger">Cancelled</span>
                    }
                    else if (item.Status == true)
                    {
                        <span class="badge text-bg-success">Completed</span>
                    }
                </td>
                <td class="d-flex flex-column">
                    @* <button type="button" class="btn btn-danger btn-sm"
                    @if (item.Status != null)
                    {
                        @:disabled
                    }
                    title="Cancel">
                        <i class="bi bi-x-circle"></i> Cancel
                    </button> *@
                    <form asp-action="CancelAppointment" method="post">
                        <input type="hidden" name="appointmentId" value="@item.AppointmentID" />
                        <button type="submit" class="btn btn-danger btn-sm"
                        @if (item.Status != null)
                        {
                            @:disabled
                        }
                                title="Cancel">
                            <i class="bi bi-x-circle"></i> Cancel
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
