@using System.Globalization
@model List<Patient>

@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Patients</h2>
</div>

<table class="table table-bordered table-hover mt-4 mb-5">
    <thead class="table-dark">
        <tr>
            <th scope="col">Patient ID</th>
            <th scope="col">Identity</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PatientID</td>
                <td>@item.IdentityNumber</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.DateOfBirth.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>
                    <form action="@Url.Action("DeletePatient", "AdminPatients")" method="post" onsubmit="return confirm('Are you sure you want to delete this patient?');">
                        <input type="hidden" name="PatientID" value="@item.PatientID" />
                        <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                            <i class="bi bi-trash-fill"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
