@model PatientCheckupViewModel

@{
    ViewData["Title"] = "Make Appointment";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Make Appointment</h2>
</div>

<!-- Appointment Form -->
<form class="mt-4" action="@Url.Action("CreateAppointment", "PatientMakeAppointment")" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="patientName" class="form-label">Patient Name</label>
        <input type="text" class="form-control" id="patientName" value="@ViewBag.PatientName" disabled>
    </div>

    <input type="hidden" id="patientId" value="@ViewBag.PatientID" name="PatientID">

    <div class="mb-3">
        <label for="appointmentDate" class="form-label">Select Appointment Date</label>
        <input type="date" class="form-control" id="appointmentDate" name="AppointmentDate" required>
    </div>

    <!-- Clinic Section -->
    <div class="mb-3">
        <label for="clinic" class="form-label">Select Clinic</label>
        <select class="form-control" id="clinic" name="ClinicID" required>
            <option value="">Select Clinic</option>
            @foreach (var clinic in ViewBag.Clinics)
            {
                <option value="@clinic.ClinicID">@clinic.Name</option>
            }
        </select>
    </div>

    <!-- Doctor Section -->
    <div class="mb-3">
        <label for="doctor" class="form-label">Select Doctor</label>
        <select class="form-select" id="doctor" name="DoctorID" required>
            <option value="">Select Doctor</option>
        </select>
    </div>

    <!-- Appointment Time Section -->
    <div class="mb-3">
        <label class="form-label">Select Appointment Time</label>
        <div class="d-flex flex-wrap" role="group" aria-label="Appointment Times">
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time1" value="09:00">
                <label class="form-check-label" for="time1">09:00</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time2" value="09:30">
                <label class="form-check-label" for="time2">09:30</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time3" value="10:00">
                <label class="form-check-label" for="time3">10:00</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time4" value="10:30">
                <label class="form-check-label" for="time4">10:30</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time5" value="11:00">
                <label class="form-check-label" for="time5">11:00</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time6" value="11:30">
                <label class="form-check-label" for="time6">11:30</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time7" value="12:00">
                <label class="form-check-label" for="time7">12:00</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time8" value="12:30">
                <label class="form-check-label" for="time8">12:30</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time9" value="13:00">
                <label class="form-check-label" for="time9">13:00</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time10" value="13:30">
                <label class="form-check-label" for="time10">13:30</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time11" value="14:00">
                <label class="form-check-label" for="time11">14:00</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time12" value="14:30">
                <label class="form-check-label" for="time12">14:30</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time13" value="15:00">
                <label class="form-check-label" for="time13">15:00</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time14" value="15:30">
                <label class="form-check-label" for="time14">15:30</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time15" value="16:00">
                <label class="form-check-label" for="time15">16:00</label>
            </div>
            <div class="form-check w-20 me-2 mb-2">
                <input class="form-check-input" type="radio" name="AppointmentTime" id="time16" value="16:30">
                <label class="form-check-label" for="time16">16:30</label>
            </div>
        </div>
    </div>

    <!-- Checkup Qeuestions Section -->
    @foreach(var item in Model.AvailableCheckups)
    {
        <div class="mb-3">
            <label for="checkup-@item.CheckupID" class="form-label">@item.Question</label>

            <input type="hidden" id="checkupId" value="@item.CheckupID" name="checkupIds[@item.CheckupID]">

            <div class="d-flex align-items-center">
                <!-- Yes Radio Button -->
                <div class="form-check form-check-inline">
                    <input type="radio" id="checkupYes-@item.CheckupID" name="answers[@item.CheckupID]" value="true" class="form-check-input checkupYesNo" data-checkup-id="@item.CheckupID">
                    <label for="checkupYes-@item.CheckupID" class="form-check-label">Yes</label>
                </div>

                <!-- No Radio Button -->
                <div class="form-check form-check-inline">
                    <input type="radio" id="checkupNo-@item.CheckupID" name="answers[@item.CheckupID]" value="false" class="form-check-input checkupYesNo" data-checkup-id="@item.CheckupID">
                    <label for="checkupNo-@item.CheckupID" class="form-check-label">No</label>
                </div>

                <!-- PDF Upload Section (Initially Hidden) -->
                <div class="ms-3 checkupFileSection-@item.CheckupID" style="display:none;">
                    <input type="file" id="checkupFile-@item.CheckupID" name="pdfFiles[@item.CheckupID]" accept=".pdf" class="form-control">
                </div>
            </div>
        </div>
    }
    
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Make Appointment</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>

<script>
    document.getElementById("clinic").addEventListener("change", function () {
        const clinicId = this.value;
        const doctorSelect = document.getElementById("doctor");

        doctorSelect.innerHTML = '<option value="">Select Doctor</option>';

        if (clinicId) {
            fetch(`/PatientMakeAppointment/GetDoctorsByClinic?clinicId=${clinicId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length === 0) {
                        const option = document.createElement("option");
                        option.value = "";
                        option.textContent = "No doctors available";
                        doctorSelect.appendChild(option);
                    } else {
                        console.log("Doctor data:", data);

                        data.forEach(doctor => {
                            const option = document.createElement("option");
                            option.value = doctor.id;
                            option.textContent = doctor.name;
                            doctorSelect.appendChild(option);
                        });
                    }
                })
                .catch(error => {
                    console.error('Error fetching doctors:', error);
                    const option = document.createElement("option");
                    option.value = "";
                    option.textContent = "Error loading doctors";
                    doctorSelect.appendChild(option);
                });
        }
    });

</script>

<script>
    document.querySelectorAll('.checkupYesNo').forEach(function (radioBtn) {
        radioBtn.addEventListener('change', function () {
            // Checkup ID'yi alıyoruz
            const checkupId = this.getAttribute('data-checkup-id');

            console.log("Checkup ID: ", checkupId);  // checkupId'nin doğru alınıp alınmadığını kontrol edin

            const fileSection = document.querySelector(`.checkupFileSection-${checkupId}`);

            if (!fileSection) {
                console.error(`File section not found for Checkup ID: ${checkupId}`);
                return;
            }

            // Eğer 'Yes' seçildiyse, PDF alanını göster
            if (this.value === 'true') {
                fileSection.style.display = 'block';
            }
            // Eğer 'No' seçildiyse, PDF alanını gizle
            else if (this.value === 'false') {
                fileSection.style.display = 'none';
            }
        });
    });
</script>

<script>
    const today = new Date().toISOString().split('T')[0];

    document.getElementById("appointmentDate").setAttribute("min", today);
</script>
