@model List<HospitalAppointmentSystem.Models.AppointmentListViewModel>

@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Appointments</h2>
</div>

<!-- Appointments Table -->
<table class="table table-striped mt-4 shadow-sm rounded-3">
    <thead class="table-light">
        <tr>
            <th scope="col">Doctor</th>
            <th scope="col">Clinic</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Appointment Time</th>
            <th scope="col">Appointment Status</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr class="table-hover">
                <td>@item.DoctorFirstName @item.DoctorLastName</td>
                <td>@item.Clinic</td>
                <td>@item.AppointmentDate</td>
                <td>@item.AppointmentTime</td>
                <td>
                    @if (item.Status == null)
                    {
                        <span class="badge text-bg-warning">Pending</span>
                    }
                    else if (item.Status == false)
                    {
                        <span class="badge text-bg-danger">Cancelled</span>
                    }
                    else if (item.Status == true)
                    {
                        <span class="badge text-bg-success">Completed</span>
                    }
                </td>
                <td>
                    <div class="d-flex justify-content-start">
                        <a href="@Url.Action("ViewDetails", "PatientAppointments", new { appointmentId = item.AppointmentID })" class="btn btn-outline-primary me-2">View</a>

                        <form asp-action="CancelAppointment" method="post">
                            <input type="hidden" name="appointmentId" value="@item.AppointmentID" />
                            <button type="submit" class="btn btn-outline-danger"
                            @if (item.Status != null)
                            {
                                @:disabled
                            }
                                    title="Cancel">
                                <i class="bi bi-x-circle"></i> Cancel
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

