@model PatientAppointmentDetailViewModel

@{
    ViewData["Title"] = "ViewDetails";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Appointment Detail</h2>
</div>

<div class="card mt-4">
    <div class="card-header">
        <h4>Patient Information</h4>
    </div>
    <div class="card-body">
        <p><strong>Patient Name:</strong> @Model.PatientFirstName @Model.PatientLastName</p>
        <p><strong>Age:</strong> @Model.PatientAge</p>
        <p><strong>Gender:</strong> @Model.PatientGender</p>
        <p><strong>Email:</strong> @Model.PatientEmail</p>
        <p><strong>Phone:</strong> @Model.PatientPhone</p>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        <h4>Appointment Details</h4>
    </div>
    <div class="card-body">
        <p><strong>Appointment Date:</strong> @Model.AppointmentDate</p>
        <p><strong>Appointment Time:</strong> @Model.AppointmentTime</p>
        <p><strong>Clinic:</strong> @Model.Clinic</p>
        <p><strong>Doctor:</strong> Dr. @Model.DoctorFirstName @Model.DoctorLastName</p>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        <h4>Last Checkup Details</h4>
    </div>
    <div class="card-body">
        <p><strong>Checkup Type:</strong> Under 18</p>
        <p><strong>Checkup Name:</strong> Measles Vaccine</p>
        <p><strong>Status:</strong> <span class="badge text-bg-success">Done</span></p>
        <p><strong>File:</strong> <a href="#">example.pdf</a></p>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        <h4>Appointment Status</h4>
    </div>
    <div class="card-body">
        @* <span class="badge text-bg-warning">Pending</span> *@

        @if (Model.Status == null)
        {
            <span class="badge text-bg-warning">Pending</span>
        }
        else if (Model.Status == false)
        {
            <span class="badge text-bg-danger">Cancelled</span>
        }
        else
        {
            <span class="badge text-bg-success">Completed</span>
        }
    </div>
</div>