
@{
    ViewData["Title"] = "AddClinic";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Add New Clinic</h2>
</div>

<form class="mt-4" action="@Url.Action("AddClinic", "AdminClinics")" method="POST" enctype="multipart/form-data">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="mb-3">
        <label for="clinic_name" class="form-label fs-5">Clinic Name:</label>
        <input type="text" id="clinic_name" name="Name" class="form-control" required>
        @Html.ValidationMessage("Name", null, new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="clinic_photo" class="form-label fs-5">Clinic Photo:</label>
        <input type="file" id="clinic_photo" name="Photo" class="form-control" accept="image/*" required>
        @Html.ValidationMessage("Photo", null, new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="clinic_description" class="form-label fs-5">Clinic Description:</label>
        <textarea id="clinic_description" name="Description" class="form-control" rows="5" required></textarea>
        @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success btn-lg w-100">Save Clinic</button>
</form>
