@model PrescriptionListViewModel

@{
    ViewData["Title"] = "Prescription Detail";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Prescription Detail</h2>
    @* <button type="button" class="btn btn-info">Print</button> *@
</div>

<!-- Prescription Information -->
<div class="card mt-4">
    <div class="card-header">
        <h4>Prescription Information</h4>
    </div>
    <div class="card-body">
        @if (Model.Medicine1 != null)
        {
            <div class="mb-4">
                <h5>Prescription #1: @Model.Medicine1</h5>
                <p><strong>Dosage:</strong> @Model.Dosage1</p>
                <p><strong>Instructions:</strong> @Model.Instruction1</p>
            </div>
        }
        @if (Model.Medicine2 != null)
        {
            <div class="mb-4">
                <h5>Prescription #2: @Model.Medicine2</h5>
                <p><strong>Dosage:</strong> @Model.Dosage2</p>
                <p><strong>Instructions:</strong> @Model.Instruction2</p>
            </div>
        }
        @if(Model.Medicine3 != null)
        {
            <div>
                <h5>Prescription #3: @Model.Medicine3</h5>
                <p><strong>Dosage:</strong> @Model.Dosage3</p>
                <p><strong>Instructions:</strong> @Model.Instruction3</p>
            </div>
        }
    </div>
</div>

<!-- Appointment Details -->
<div class="card mt-4">
    <div class="card-header">
        <h4>Appointment Details</h4>
    </div>
    <div class="card-body">
        <p><strong>Appointment Date:</strong> @Model.Date</p>
        <p><strong>Appointment Time:</strong> @Model.Time</p>
        <p><strong>Clinic:</strong> @Model.Clinic</p>
        <p><strong>Doctor:</strong> Dr. @Model.Doctor</p>
    </div>
</div>