@model List<HospitalAppointmentSystem.Models.AppointmentListViewModel>

@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-dark">Appointments</h2>
</div>

<table class="table table-hover table-bordered table-striped mt-4 shadow-sm rounded">
    <thead class="table-dark">
        <tr>
            <th scope="col">Appointment ID</th>
            <th scope="col">Patient First Name</th>
            <th scope="col">Patient Last Name</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Appointment Time</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.AppointmentID</td>
                <td>@appointment.PatientFirstName</td>
                <td>@appointment.PatientLastName</td>
                <td>@appointment.AppointmentDate</td>
                <td>@appointment.AppointmentTime</td>
                @* <td>@appointment.Status</td> *@
                <td>
                    @if (appointment.Status == null)
                    {
                        <span class="badge text-bg-warning">Pending</span>
                    }
                    else if (appointment.Status == false)
                    {
                        <span class="badge text-bg-danger">Cancelled</span>
                    }
                    else if (appointment.Status == true)
                    {
                        <span class="badge text-bg-success">Completed</span>
                    }
                </td>
                <td class="d-flex justify-content-start">
                    <button type="button" class="btn btn-primary btn-sm me-2" onclick="window.location.href='@Url.Action("AppointmentDetail", "DoctorAppointments", new { id = appointment.AppointmentID })'">Appointment Detail</button>
                    <button type="button" class="btn btn-outline-warning btn-sm" onclick="window.location.href='@Url.Action("Prescribe", "DoctorAppointments", new { id = appointment.AppointmentID })'">Prescribe</button>
                </td>
            </tr>
        }
    </tbody>
</table>
